    body{
        height: 100vh;
        width: 100vw;
        display: grid;
        justify-content: center;
    }
    div#wrapper{
        width: 400px;
    }

    div#header {
        height: 93px;
        position: relative;
    }
    #navigation{
        float: none;
        width: auto;
    }